/esp32/controller/WeatherAnimations
config.txt
assets/c__Users_Nutzer_AppData_Roaming_Cursor_User_workspaceStorage_3b39cd141afffd61b427f1fab8315b16_images_image-2c7594bf-d359-47fa-bcb6-e9611f93248d.png
assets/c__Users_Nutzer_AppData_Roaming_Cursor_User_workspaceStorage_3b39cd141afffd61b427f1fab8315b16_images_image-b1ea861f-24d4-452f-9305-7bce25e7bcab.png
